
*{
  /* general settings */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* colors */
  --shadow-color:rgba(0, 0, 0, 0.15);
  --dark:#202020;
  /* TODO : refactor grey colors */
  --grey-10 : rgb(248, 248, 248);
  --grey-20 : rgb(225, 225, 225);
  --dark-grey:#3F3F3F;
  --grey:#707070;
  --light-gray: rgb(241, 241, 241);
  --very-light-gray: rgba(245, 245, 245, 0.5);
  --primary-color: #FFDF6C;
  --primary-color-light: rgba(255, 223, 108, 0.5);
  --primary-color-10: rgba(255, 223, 108, 0.1);
  --primary-color-20: rgba(255, 223, 108, 0.2);
  --secondary-color:#74648C;
  --secondary-color-10: rgba(116, 100, 140, 0.1);
  --secondary-color-20: rgba(116, 100, 140, 0.2);
  --secondary-color-30: rgba(116, 100, 140, 0.3);
  --secondary-color-50: rgba(116, 100, 140, 0.5);
  font-family: sans-serif;
}